.myhobbies-color {
  color: #ff3956;
}
.myfavoritetracks-color {
  color: #1ed760;
}
.whatido-color {
  color: #5495e5;
}
.myprojects-color {
  color: #f9bb56;
}
.github-color {
  color: #24292e;
}
.github-white-color {
  color: #f7f7f7;
}
.gitlab-color {
  color: #f46b25;
}
.bitbucket-color {
  color: #227df5;
}
.linkedin-color {
  color: #016196;
}
.dribbble-color {
  color: #e54786;
}
.youtube-color {
  color: #f60000;
}
.instagram-color {
  color: #d62977;
}
.facebook-color {
  color: #1773ea;
}
.linkedin-color {
  color: #016196;
}
.twitter-color {
  color: #55acee;
}
.pinterest-color {
  color: #df0022;
}
.paypal-color {
  color: #002b86;
}
.google-color {
  color: #e94235;
}
.black-color {
  color: #121212;
}
.spotify-color {
  color: #1ed760;
}
.yellow-color {
  color: #f9bb56;
}
