.kidel-feature-container {
  width: 700px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-left: 80px;
}
.kidel-fearture-nav {
  position: relative;
  margin: auto;
  padding: 0;
  width: 75%;
  height: 150px;
}
.kidel-fearture-nav li {
  list-style: none;
  position: absolute;
  width: 120px;
  height: 120px;
  background: 0 0;
  transition: 0.5s;
  margin: -25px;
  overflow: hidden;
  opacity: 1;
}

.kidel-fearture-nav li:hover {
  opacity: 1;
}
.kidel-fearture-nav li.item1 {
  top: 0;
  left: -25%;
}
.kidel-fearture-nav li.item2 {
  bottom: 0;
  left: 0;
}
.kidel-fearture-nav li.item3 {
  top: 0;
  left: 25%;
}
.kidel-fearture-nav li.item4 {
  bottom: 0;
  left: 50%;
}
.kidel-fearture-nav li.item5 {
  top: 0;
  left: 75%;
}
.kidel-fearture-nav li.item6 {
  bottom: 0;
  left: 100%;
}
.kidel-fearture-nav li .bg {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}
.kidel-fearture-nav li.item1 .bg {
  background: url(../../img/apps/ezkidel/vocabulary/snail.png);
  background-size: cover;
  background-position: center;
}
.kidel-fearture-nav li.item2 .bg {
  background: url(../../img/apps/ezkidel/vocabulary/lamprey.png);
  background-size: cover;
  background-position: center;
}
.kidel-fearture-nav li.item3 .bg {
  background: url(../../img/apps/ezkidel/vocabulary/octopus.png);
  background-size: cover;
  background-position: center;
}
.kidel-fearture-nav li.item4 .bg {
  background: url(../../img/apps/ezkidel/vocabulary/sea-turtle.png);
  background-size: cover;
  background-position: center;
}
.kidel-fearture-nav li.item5 .bg {
  background: url(../../img/apps/ezkidel/vocabulary/starfish.png);
  background-size: cover;
  background-position: center;
}
.kidel-fearture-nav li.item6 .bg {
  background: url(../../img/apps/ezkidel/vocabulary/squid.png);
  background-size: cover;
  background-position: center;
}
