@media (min-width: 0) {
  :root {
    --size: 40vw;
    --blue: #aad5ff;
    --lb: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 768px) {
  :root {
    --size: 150px;
    --blue: #aad5ff;
    --lb: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 1200px) {
  :root {
    --size: 180px;
    --blue: #aad5ff;
    --lb: rgba(0, 0, 0, 0.5);
  }
}
@media (min-width: 1800px) {
  :root {
    --size: 180px;
    --blue: #aad5ff;
    --lb: rgba(0, 0, 0, 0.5);
  }
}
.features-body {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.features-container {
  width: var(--size);
  height: var(--size);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
  justify-items: center;
  align-items: center;
  filter: drop-shadow(0 0 2px rgba(1, 1, 1, 0.7));
}
.featuresImage {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  width: var(--size);
  height: var(--size);
  background-size: cover;
  clip-path: polygon(
    20% 20%,
    50% 20%,
    50% 20%,
    80% 20%,
    80% 50%,
    80% 50%,
    80% 80%,
    50% 80%,
    50% 80%,
    20% 80%,
    20% 50%,
    20% 50%
  );
  transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.foodsImg {
  background-image: url(../../img/apps/ezhealth/features/food-choices.png);
  background-color: #17b2ac;
}
.restImg {
  background-image: url(../../img/apps/ezhealth/features/rest.png);
  background-color: #ed3c56;
}
.fitnessImg {
  background-image: url(../../img/apps/ezhealth/features/fitness.png);
  background-color: #5495e5;
}
.challengesImg {
  background-image: url(../../img/apps/ezhealth/features/challenges.png);
  background-color: #f9bb56;
}
.meditationImg {
  background-image: url(../../img/apps/ezhealth/features/meditation.png);
  background-color: #a3a1f7;
}
.sleepyImg {
  background-image: url(../../img/apps/ezhealth/features/sleepy-sounds.png);
  background-color: #292d34;
}
h4,
span,
ul {
  padding: 0;
  margin: 0;
}
.color,
.size {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.color ul li,
.size ul li {
  list-style: none;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.color {
  grid-column: 2;
  grid-row: 2;
}
.color ul li span {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  display: inline-block;
}
.price {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.price h4 {
  margin-bottom: 8px;
}
.price span {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
.featuresName {
  grid-column: 1;
  grid-row: 2;
  align-self: center;
  justify-self: center;
  z-index: 1;
  transition: all 0.7s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  font-size: 15px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 1px;
  vertical-align: middle;
  color: #121212;
  font-family: Alata;
  background-color: rgba(255, 255, 255, 0.76);
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
}
.featuresImage:hover {
  clip-path: polygon(
    20% 0,
    50% 0,
    50% 20%,
    100% 20%,
    100% 50%,
    80% 50%,
    80% 100%,
    50% 100%,
    50% 80%,
    0 80%,
    0 50%,
    20% 50%
  );
  transform: rotate(-15deg);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.featuresImage:hover ~ * {
  opacity: 1;
  transform: rotate(-15deg);
  transition: all 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}
.credits {
  color: #fff;
  font-size: 1.2rem;
  grid-column: 1/-1;
  justify-self: center;
  text-align: center;
}
