div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: url(https://firebasestorage.googleapis.com/v0/b/nguyensonhai-developer.appspot.com/o/cursors%2Fpointer.cur?alt=media&token=b862a307-c6e3-43ff-99f9-66347cd56ce3),
    auto;
}
ul li a {
  display: none;
}
a {
  cursor: url(https://firebasestorage.googleapis.com/v0/b/nguyensonhai-developer.appspot.com/o/cursors%2Flink.cur?alt=media&token=aa6c3a1b-3068-4e8f-8e94-43adad7bb033),
    pointer;
}
.pointer {
  cursor: url(https://firebasestorage.googleapis.com/v0/b/nguyensonhai-developer.appspot.com/o/cursors%2Flink.cur?alt=media&token=aa6c3a1b-3068-4e8f-8e94-43adad7bb033),
    pointer;
}
ul li a[href^="http:"],
ul li a[href^="https:"] {
  display: block;
}
html {
  scroll-behavior: smooth;
}
.root {
  width: 400vw;
  display: flex;
  flex-direction: row;
}

.main {
  background-color: #212121;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translate(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: none;
  box-shadow: none;
  cursor: url(https://firebasestorage.googleapis.com/v0/b/nguyensonhai-developer.appspot.com/o/cursors%2Flink.cur?alt=media&token=aa6c3a1b-3068-4e8f-8e94-43adad7bb033),
    pointer;
}

.nounderline {
  text-decoration: none !important;
}
