.span-container {
  width: 80%;
  padding: 40px 0 30px 10px;
}
.cta {
  position: relative;
  margin-bottom: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #5db2de;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.red-cta::before {
  background: #ffbdc6;
}
.red-cta:hover:before {
  background: #ff3956;
}
.red .cta:hover:before {
  width: 100%;
  background: #ff3956;
}
.blue-cta::before {
  background: #c6dbf6;
}
.blue-cta:hover:before {
  background: #5495e5;
}
.blue .cta:hover:before {
  width: 100%;
  background: #5495e5;
}
.purple-cta::before {
  background: #e5e4fd;
}
.purple-cta:hover:before {
  background: #a3a1f7;
}
.purple .cta:hover:before {
  width: 100%;
  background: #a3a1f7;
}
.spotify-cta::before {
  background: #b4f1ca;
}
.spotify-cta:hover:before {
  background: #1ed760;
}
.spotify .cta:hover:before {
  width: 100%;
  background: #1ed760;
}
.green-cta::before {
  background: #b1e5e3;
}
.green-cta:hover:before {
  background: #17b2ac;
}
.green .cta:hover:before {
  width: 100%;
  background: #17b2ac;
}
.yellow-cta::before {
  background: #fde8c6;
}
.yellow-cta:hover:before {
  background: #f9bb56;
}
.yellow .cta:hover:before {
  width: 100%;
  background: #f9bb56;
}
.cta span {
  position: relative;
  font-size: 20px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.15em;
  vertical-align: middle;
  font-family: Alata;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
.cta .spandark {
  position: relative;
  font-size: 20px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.15em;
  vertical-align: middle;
  color: #121212;
  font-family: Alata;
}
.cta .svgdark {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #121212;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover #svgdark {
  transform: translateX(0);
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta:hover svg {
  transform: translateX(0);
}
.cta:active {
  transform: scale(0.96);
}
.red .cta-dark:hover:before {
  width: 100%;
  background: #ff3956;
}
.blue .cta-dark:hover:before {
  width: 100%;
  background: #5495e5;
}
.purple .cta-dark:hover:before {
  width: 100%;
  background: #a3a1f7;
}
.green .cta-dark:hover:before {
  width: 100%;
  background: #17b2ac;
}
.yellow .cta-dark:hover:before {
  width: 100%;
  background: #f9bb56;
}
.spotify .cta-dark:hover:before {
  width: 100%;
  background: #1ed760;
}
.cta-dark {
  position: relative;
  margin-bottom: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.cta-dark:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #292e34;
  width: 56px;
  height: 56px;
  transition: all 0.3s ease;
}
.cta-dark span {
  position: relative;
  font-size: 20px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.15em;
  vertical-align: middle;
  font-family: Alata;
  color: #fff;
}
a {
  text-decoration: none;
  color: #fff;
}
.cta-dark .spandark {
  position: relative;
  font-size: 20px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.15em;
  vertical-align: middle;
  color: #121212;
  font-family: Alata;
}
.svgdark {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #121212;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta-dark:hover .svgdark {
  transform: translateX(0);
}
.cta-dark:hover .spandark {
  color: #121212;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 0.3s;
}
.cta-dark svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.cta-dark:hover:before {
  width: 100%;
  background: #ffb450;
}
.cta-dark:hover svg {
  transform: translateX(0);
}
.cta-dark:active {
  transform: scale(0.96);
}
.wrapper-container {
  transform: rotate(90deg);
  height: 100vh;
}
.j-l-c {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
