.hobbiesSvg {
  padding: 20px;
}
.hobbies {
  text-align: center;
}
.spanHobbies {
  display: none;
  font-family: Quicksand;
}
.trans {
  width: 70px;
  height: 70px;
  transition: all 0.35s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
.trans:hover {
  transform: scale(1.3);
  transition: all 0.35s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
  background-color: #fff;
  color: #000;
}
[data-title]:after {
  content: attr(data-title);
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: Quicksand;
  font-size: 20px;
  position: absolute;
  padding: 2px 5px 2px 5px;
  bottom: 100%;
  left: 80%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222;
  opacity: 0;
  border: 1px solid #fff;
  z-index: 999;
  visibility: hidden;
  border-radius: 10px;
}
[data-title] {
  position: relative;
}
