#slider-image-health {
  width: 40vw;
  height: 660px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.slider-container-health {
  padding-top: 0;
  padding-bottom: 0;
}
#slider-image-health label {
  margin: auto;
  width: 320px;
  height: 650px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: url(https://firebasestorage.googleapis.com/v0/b/nguyensonhai-developer.appspot.com/o/cursors%2Flink.cur?alt=media&token=aa6c3a1b-3068-4e8f-8e94-43adad7bb033),
    pointer;
  transition: transform 0.4s ease;
}

.container-info {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 30px;
}
[type="radio"] {
  display: none;
}
#s1-health:checked ~ #slide-4-health,
#s2-health:checked ~ #slide-5-health,
#s3-health:checked ~ #slide-1-health,
#s4-health:checked ~ #slide-2-health,
#s5-health:checked ~ #slide-3-health {
  transform: translate3d(-60%, 0, -200px);
}
#s1-health:checked ~ #slide-5-health,
#s2-health:checked ~ #slide-1-health,
#s3-health:checked ~ #slide-2-health,
#s4-health:checked ~ #slide-3-health,
#s5-health:checked ~ #slide-4-health {
  transform: translate3d(-30%, 0, -100px);
}
#s1-health:checked ~ #slide-1-health,
#s2-health:checked ~ #slide-2-health,
#s3-health:checked ~ #slide-3-health,
#s4-health:checked ~ #slide-4-health,
#s5-health:checked ~ #slide-5-health {
  transform: translate3d(0, 0, 0);
}
#s1-health:checked ~ #slide-2-health,
#s2-health:checked ~ #slide-3-health,
#s3-health:checked ~ #slide-4-health,
#s4-health:checked ~ #slide-5-health,
#s5-health:checked ~ #slide-1-health {
  transform: translate3d(30%, 0, -100px);
}
#s1-health:checked ~ #slide-3-health,
#s2-health:checked ~ #slide-4-health,
#s3-health:checked ~ #slide-5-health,
#s4-health:checked ~ #slide-1-health,
#s5-health:checked ~ #slide-2-health {
  transform: translate3d(60%, 0, -200px);
}
#slide-1-health {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(-60%, 0, -200px);
}
#slide-2-health {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(-30%, 0, -100px);
}
#slide-3-health {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0);
}
#slide-4-health {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(30%, 0, -100px);
}
#slide-5-health {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(60%, 0, -200px);
}
.download {
  padding: 10px;
  max-width: 45vw;
}
html {
  scroll-behavior: smooth;
}
#slide-1-health {
  background-image: url(../../img/apps/ezhealth/home.png);
}
#slide-2-health {
  background-image: url(../../img/apps/ezhealth/water.png);
}
#slide-3-health {
  background-image: url(../../img/apps/ezhealth/challenges.png);
}
#slide-4-health {
  background-image: url(../../img/apps/ezhealth/sleepy.png);
}
#slide-5-health {
  background-image: url(../../img/apps/ezhealth/fitness.png);
}

#slider-image-kidel {
  width: 40vw;
  height: 660px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.slider-container-kidel {
  padding-top: 0;
  padding-bottom: 0;
}
#slider-image-kidel label {
  margin: auto;
  width: 320px;
  height: 650px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: url(https://firebasestorage.googleapis.com/v0/b/nguyensonhai-developer.appspot.com/o/cursors%2Flink.cur?alt=media&token=aa6c3a1b-3068-4e8f-8e94-43adad7bb033),
    pointer;
  transition: transform 0.4s ease;
}

.container-info {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 30px;
}
[type="radio"] {
  display: none;
}
#s1-kidel:checked ~ #slide-4-kidel,
#s2-kidel:checked ~ #slide-5-kidel,
#s3-kidel:checked ~ #slide-1-kidel,
#s4-kidel:checked ~ #slide-2-kidel,
#s5-kidel:checked ~ #slide-3-kidel {
  transform: translate3d(-60%, 0, -200px);
}
#s1-kidel:checked ~ #slide-5-kidel,
#s2-kidel:checked ~ #slide-1-kidel,
#s3-kidel:checked ~ #slide-2-kidel,
#s4-kidel:checked ~ #slide-3-kidel,
#s5-kidel:checked ~ #slide-4-kidel {
  transform: translate3d(-30%, 0, -100px);
}
#s1-kidel:checked ~ #slide-1-kidel,
#s2-kidel:checked ~ #slide-2-kidel,
#s3-kidel:checked ~ #slide-3-kidel,
#s4-kidel:checked ~ #slide-4-kidel,
#s5-kidel:checked ~ #slide-5-kidel {
  transform: translate3d(0, 0, 0);
}
#s1-kidel:checked ~ #slide-2-kidel,
#s2-kidel:checked ~ #slide-3-kidel,
#s3-kidel:checked ~ #slide-4-kidel,
#s4-kidel:checked ~ #slide-5-kidel,
#s5-kidel:checked ~ #slide-1-kidel {
  transform: translate3d(30%, 0, -100px);
}
#s1-kidel:checked ~ #slide-3-kidel,
#s2-kidel:checked ~ #slide-4-kidel,
#s3-kidel:checked ~ #slide-5-kidel,
#s4-kidel:checked ~ #slide-1-kidel,
#s5-kidel:checked ~ #slide-2-kidel {
  transform: translate3d(60%, 0, -200px);
}
#slide-1-kidel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(-60%, 0, -200px);
}
#slide-2-kidel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(-30%, 0, -100px);
}
#slide-3-kidel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0);
}
#slide-4-kidel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(30%, 0, -100px);
}
#slide-5-kidel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(60%, 0, -200px);
}
.download {
  padding: 10px;
  max-width: 45vw;
}
html {
  scroll-behavior: smooth;
}
#slide-1-kidel {
  background-image: url(../../img/apps/ezkidel/1.png);
}
#slide-2-kidel {
  background-image: url(../../img/apps/ezkidel/2.png);
}
#slide-3-kidel {
  background-image: url(../../img/apps/ezkidel/3.png);
}
#slide-4-kidel {
  background-image: url(../../img/apps/ezkidel/4.png);
}
#slide-5-kidel {
  background-image: url(../../img/apps/ezkidel/5.png);
}

#slider-image-explore {
  width: 40vw;
  height: 660px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.slider-container-explore {
  padding-top: 0;
  padding-bottom: 0;
}
#slider-image-explore label {
  margin: auto;
  width: 320px;
  height: 650px;
  border-radius: 10px;
  position: absolute;
  left: 0;
  right: 0;
  cursor: url(https://firebasestorage.googleapis.com/v0/b/nguyensonhai-developer.appspot.com/o/cursors%2Flink.cur?alt=media&token=aa6c3a1b-3068-4e8f-8e94-43adad7bb033),
    pointer;
  transition: transform 0.4s ease;
}

.container-info {
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  border-radius: 30px;
}
[type="radio"] {
  display: none;
}
#s1-explore:checked ~ #slide-4-explore,
#s2-explore:checked ~ #slide-5-explore,
#s3-explore:checked ~ #slide-1-explore,
#s4-explore:checked ~ #slide-2-explore,
#s5-explore:checked ~ #slide-3-explore {
  transform: translate3d(-60%, 0, -200px);
}
#s1-explore:checked ~ #slide-5-explore,
#s2-explore:checked ~ #slide-1-explore,
#s3-explore:checked ~ #slide-2-explore,
#s4-explore:checked ~ #slide-3-explore,
#s5-explore:checked ~ #slide-4-explore {
  transform: translate3d(-30%, 0, -100px);
}
#s1-explore:checked ~ #slide-1-explore,
#s2-explore:checked ~ #slide-2-explore,
#s3-explore:checked ~ #slide-3-explore,
#s4-explore:checked ~ #slide-4-explore,
#s5-explore:checked ~ #slide-5-explore {
  transform: translate3d(0, 0, 0);
}
#s1-explore:checked ~ #slide-2-explore,
#s2-explore:checked ~ #slide-3-explore,
#s3-explore:checked ~ #slide-4-explore,
#s4-explore:checked ~ #slide-5-explore,
#s5-explore:checked ~ #slide-1-explore {
  transform: translate3d(30%, 0, -100px);
}
#s1-explore:checked ~ #slide-3-explore,
#s2-explore:checked ~ #slide-4-explore,
#s3-explore:checked ~ #slide-5-explore,
#s4-explore:checked ~ #slide-1-explore,
#s5-explore:checked ~ #slide-2-explore {
  transform: translate3d(60%, 0, -200px);
}
#slide-1-explore {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(-60%, 0, -200px);
}
#slide-2-explore {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(-30%, 0, -100px);
}
#slide-3-explore {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(0, 0, 0);
}
#slide-4-explore {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(30%, 0, -100px);
}
#slide-5-explore {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: translate3d(60%, 0, -200px);
}
.download {
  padding: 10px;
  max-width: 45vw;
}
html {
  scroll-behavior: smooth;
}
#slide-1-explore {
  background-image: url(../../img/apps/ezexplore/1.png);
}
#slide-2-explore {
  background-image: url(../../img/apps/ezexplore/2.png);
}
#slide-3-explore {
  background-image: url(../../img/apps/ezexplore/3.png);
}
#slide-4-explore {
  background-image: url(../../img/apps/ezexplore/4.png);
}
#slide-5-explore {
  background-image: url(../../img/apps/ezexplore/5.png);
}
