.things-container {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
}
.dev-container {
  width: 280px;
  height: 550px;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: flex-start;
}
.dev-img {
  width: 170px;
  height: 170px;
}
.dev-span {
  position: relative;
  font-size: 20px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.15em;
  vertical-align: middle;
  color: #121212;
  font-family: Alata;
}
.dev-sub-span {
  position: relative;
  vertical-align: middle;
  font-family: Montserrat;
  font-size: 18px;
  color: #212121;
  padding-top: 10px;
}
.dev-second-span {
  margin-top: 20px;
  position: relative;
  font-size: 20px;
  line-height: 18px;
  font-weight: 400;
  vertical-align: middle;
  font-family: Alata;
  color: #212121;
}
.line {
  display: none;
}

.blue {
  color: #369fd4;
}
.yellow {
  color: #ffbe62;
}
.orange {
  color: #ff5e4c;
}
.product {
  font-size: 1.5rem;
  margin: 0 1vw calc(1vw + 50px) 1vw;
  width: 200px;
  height: 140px;
  position: relative;
}
.product:before {
  content: "";
  float: left;
  padding-top: 100%;
}
.content {
  border-radius: 30%;
  height: 170px;
  margin: 8%;
  position: absolute;
  width: 170px;
  vertical-align: middle;
  z-index: 5000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product:hover .effect-1,
.product:hover .effect-2 {
  display: block;
}
.effect-1,
.effect-2 {
  border-radius: 30%;
  display: none;
  mix-blend-mode: multiply;
  height: 170px;
  opacity: 1;
  position: absolute;
  width: 170px;
  z-index: 3000;
}
.effect-1 {
  animation: rotate 1.6s linear infinite;
}
.effect-2 {
  animation: rotate 1s linear reverse infinite;
}
@keyframes rotate {
  0% {
    top: 0;
    left: 8%;
  }
  25% {
    top: 8%;
    left: 0;
  }
  50% {
    top: 16%;
    left: 8%;
  }
  75% {
    top: 8%;
    left: 16%;
  }
  100% {
    top: 0;
    left: 8%;
  }
}
